.step-section
  h3 What's the url you want to share?
  input(type="text", placeholder="http://")
  br/

.step-section.last-bottom
  h3 What do you want to share to the world?
  textarea
  .character-counter.helper-tag 0
  .twitter-warning.helper-tag Twiter max reached!
  .cl
