.step-section
  h3 Which style do you prefer?
  ul
    li.display-style.selected.inline
    li.display-style
      .share-popover
        img(class="share-block-sm generic-share", src="/img/share-generic@2x.png")
        .share-generic-label Share
