.step-section
  h3 Which style do you prefer?
  ul
    li.display-style.selected
      .share-button-inline-sm
        img(class="share-block-sm facebook", src="/img/logos/facebook@2x.png")
        img(class="share-block-sm twitter", src="/img/logos/twitter@2x.png")
        img(class="share-block-sm google", src="/img/logos/google@2x.png")
        img(class="share-block-sm linkedin", src="/img/logos/linkedin@2x.png")
    li.display-style
      .share-popover
        img(class="share-block-sm generic-share", src="/img/share-generic@2x.png")
        .share-generic-label Share
