.skinny-footer
  ul.top-band
    li.stripe.mt-facebook
    li.stripe.mt-twitter
    li.stripe.mt-google
    li.stripe.mt-linkedin
  ul.share-controls
    li
      iframe(src="http://ghbtns.com/github-btn.html?user=mojotech&repo=social-builder&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")
    li
      a.twitter-share-button(href='https://twitter.com/share', data-url="http://www.mojotech.com/social-builder", data-via="mojotech", data-related="mojotech") Tweet
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    li.credit
      a(href="http://mojotech.com", target="_blank") Built by MojoTech
