extends layout

block content

  .social-customization.section.half
    ul.top-band
      li.stripe.mt-facebook
      li.stripe.mt-twitter
      li.stripe.mt-google
      li.stripe.mt-linkedin
    .center
      .network-select
      .display-select
      .copy-setter

  .code-embed.section.half
    .code-section
      .html-code
      .css-code
