extends layout

block content
  ul.top-band
    li.stripe.facebook
    li.stripe.twitter
    li.stripe.google
    li.stripe.linkedin
  .center-generator
    .network-select
    .display-select
    .copy-setter
    .code-section