extends layout

block content
  .social-customization.section.half
    .center
      .network-select
      .display-select
      .copy-setter

  .code-embed.section.half
    .code-section
      .html-code
      .css-code

  include _footer
