!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    title= title

    link(rel='stylesheet', href='css/vendor/prism.css')
    link(rel='stylesheet', href='css/master.css')
    //- dependencies
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.4-bundled/backbone.marionette.min.js')
    script(src='js/vendor/prism.js')

    //- templates
    script(src='js/templates.js')

    //- application
    script(src='js/application.js')
    script(src='js/networks.js')

    //- models
    script(src='js/models/social_embed.js')
    script(src='js/models/social_network.js')

    //- collections
    script(src='js/collections/social_networks.js')

    //- views
    script(src='js/views/network_select.js')
    script(src='js/views/display_select.js')
    script(src='js/views/copy_setter.js')
    script(src='js/views/network_selector.js')
    script(src='js/views/single_network.js')
    script(src='js/views/code_area.js')
    script(src='js/views/inline_template.js')
    script(src='js/views/single_inline_share.js')

    //- controller
    script(src='js/controller.js')

    //- main
    script(src='js/main.js')

  body
    block content
