!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    title= title

    link(rel='stylesheet', href='css/vendor/prism.css')
    link(rel='stylesheet', href='css/master.css')

    link(rel='stylesheet', id="list-square", href='css/embed/share_sm_block.css')
    link(rel='stylesheet', id="list-circle", href='css/embed/share_sm_circle.css')
    link(rel='stylesheet', id="list-bar", href='css/embed/share_sm_bar.css')

    script(src="js/templates.js")

    //- main
    script(src='js/main.js')

  body
    block content
