.code-embed
  top:        0
  left:       50%
  height:     100%
  position:   fixed
  background-color: dark-blue


.language-css, .language-html
  position: relative

.html-code, .css-code
  height:   50%
  overflow: auto
  position: absolute

.css-code
  top:        50%
  width:      100%
  border-top: solid 3px rgba(0, 0, 0, 0.72)

.faded-header
  padding: 0 0 0 30px
  font-size: 24px
  color: lighten(dark-blue, 14%)

.embed-fixed-header
  width: 100%
.copy
  top: 16px
  left: 30%
  position: absolute
  font-size: 14px
  text-transform: uppercase
  border: none
  border-radius: 8px 
  background-color: lighten(dark-blue, 10%)
  color: dark-blue
  padding: 6px 10px
  display: block
  &:hover
    cursor: pointer
    background-color: lighten(dark-blue, 14%)
  &:active
    background-color: green



