.code-embed
  top:        0
  left:       50%
  height:     100%
  position:   fixed
  background: #1b1f28


.html-code, .css-code
  height:   50%
  overflow: auto
  position: absolute


.css-code
  top:        50%
  width:      100%
  border-top: solid 3px rgba(0, 0, 0, 0.72)

