.section.code-embed
  top:        0
  left:       50%
  height:     100%
  position:   fixed
  background-color: dark-blue
  @media (max-width: 810px)
    position: absolute
    left: 405px
.language-css, .language-html
  position: relative

.html-code, .css-code
  height:   50%
  overflow: auto
  position: absolute

.css-code
  top:        50%
  width:      100%
  border-top: solid 3px rgba(0, 0, 0, 0.72)

.faded-header
  float: left
  padding: 0 0 0 30px
  font-size: 24px
  margin-bottom: 0
  color: lighten(dark-blue, 14%)

.embed-fixed-header
  width:    100%
  overflow: auto

.copy-button
  top: 20px
  left: 50px
  float: left
  position: relative
  font-size: 14px
  text-transform: uppercase
  border-radius: 8px
  background-color: lighten(dark-blue, 10%)
  color: dark-blue
  padding: 6px 10px
  font-weight: bold
  transition(background-color, 500ms)
  &.zeroclipboard-is-hover
    cursor: pointer
    background-color: lighten(dark-blue, 14%)
  &.zeroclipboard-is-active
    transition(background-color, 100ms)
    background-color: green



