.skinny-footer
  position: fixed
  z-index: 10
  width: 100%
  bottom: 0
  background-color darken(dark-blue, 10%)

.share-controls
  text-align: center
  padding: 14px 10px 5px 10px

.top-band
  position: relative
  z-index: 10
  width: 100%

.stripe
  height: 5px
  display: block
  float: left
  width: 25%
  list-style-type: none

.credit
  right:          10px
  position:       absolute
  font-size:      15px
  font-weight:    bold
  a
    color: rgba(255, 255, 255, 0.48)
    text-decoration: none
