.facebook
  background-color: facebook-blue

.twitter
  background-color: twitter-blue

.linkedin
  background-color: linkedin-blue

.googleplus
  background-color: google-red

.network-logo
  background-position: center center
  background-repeat: no-repeat

.facebook-logo
  background-image: url('/img/logos/facebook@2x.png')
  background-size: 12px 26px

.twitter-logo
  background-image: url('/img/logos/twitter@2x.png')
  background-size: 30px 22px

.googleplus-logo
  background-image: url('/img/logos/google@2x.png')
  background-size: 27px 24px

.linkedin-logo
  background-image: url('/img/logos/linkedin@2x.png')
  background-size: 24px
