.mt-facebook
  background-color: facebook-blue
  &:hover
    background-color: lighten(facebook-blue, lighten-color-value)

.mt-twitter
  background-color: twitter-blue
  &:hover
    background-color: lighten(twitter-blue, lighten-color-value)

.mt-linkedin
  background-color: linkedin-blue
  &:hover
    background-color: lighten(linkedin-blue, lighten-color-value)

.mt-google
  background-color: google-red
  &:hover
    background-color: lighten(google-red, lighten-color-value)
