code[class*="language-"], pre[class*="language-"]
  color: twitter-blue

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol
  color: google-red

.token.punctuation
  color: lighten(dark-blue, 30%)

.token.selector, .token.attr-name, .token.string, .token.builtin
  color: lighten(dark-blue, 60%)

.line-numbers .line-numbers-rows
  border-right: 1px solid lighten(dark-blue, 20%)

.line-numbers-rows > span:before
  color: lighten(dark-blue, 20%)
