.network-item
  position: relative
  display: inline-block
  list-style-type: none
  border-radius: border-radius-lg
  margin-right: 20px
  line-height: 0
  &:last-child
    margin-right: 0
  &:hover
    cursor: pointer
  &.active
    animation-name: shake;
    animation-duration: 150ms;
    animation-iteration-count: 2;
    animation-timing-function: linear;
  img
    width: 77px
    height: auto


.selected-network
  z-index: 10
  width: 34px
  height: 34px
  position: absolute
  right: -15px
  top: -10px
  background-image: url('/img/selected@2x.png')
  background-size: 34px
  transition: all 300ms ease-in-quart
  transform: scale3d(0,0,0)

.active .selected-network
  transform: scale3d(1,1,1)

@keyframes shake{
    0% { transform: translate(3px, 0); }
    50% { transform: translate(-3px, 0); }
    100% { transform: translate(0, 0); }
}

@-moz-keyframes shake{
    0% { -moz-transform: translate(3px, 0); }
    50% { -moz-transform: translate(-3px, 0); }
    100% { -moz-transform: translate(0, 0); }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(3px, 0); }
    50% { -webkit-transform: translate(-3px, 0); }
    100% { -webkit-transform: translate(0, 0); }
}