.network-item
  position: relative
  display: inline-block
  list-style-type: none
  border-radius: border-radius-lg
  margin-right: 20px
  line-height: 0
  &:last-child
    margin-right: 0
  &:hover
    cursor: pointer
  img
    width: network-picker
    height: network-picker
