// -------------------------------------------------------
// Roots global settings variables
// -------------------------------------------------------

default-color = blue
hilight-color = blue

vendors = webkit moz o ms official

img-path = '../img/'

pie-enabled = false
pie-path = '/pie.htc'
