.share-button-inline-sm
  width: 320px
  text-align: center
  margin: 25px auto 0 auto

.mt-share-sm
  border-radius: 2px

.mt-social-embed-network-icon
  width: 36px
  height: 36px

.mt-social-embed-network-icon-sm
  width: 28px
  height: 28px

a.mt-share-inline-bar-sm
  display: inline-block;
  border-radius: 0;
  width: 70px;
  height: 22px;
  margin-right: 0;
  img
    top: -6px
    position: relative
