// Blocked row of small share icons
.share-button-inline-sm
  width: 184px
  text-align: center
  margin: 25px auto 0 auto
  .share-block-sm
    width: 36px
    height: 36px
    display: inline-block
    border-radius: 2px
    margin-right: 10px
    img
      width: 36px
      height: 36px

.share-popover
  height: 40px;
  background-color: light-blue-grey
  margin: 24px auto 0 auto
  width: 120px
  .generic-share, .share-generic-label
    display: block
    float: left
    height: 40px
  .generic-share
    background-color: blue
    width: 40px
    border: none
  .share-generic-label
    width: 72px
    line-height: 40px
    font-size: 16px
    color: slate-grey
    text-align: center

