.share-button-inline-sm
  width:      320px
  margin:     7px auto 0
  text-align: center

.display-style
  filter: grayscale(100%)
  background-color: white
  border-radius: border-radius-lg
  border: border-size solid transparent
  list-style-type: none
  height: 50px
  width: 100%
  margin-bottom: 15px
  opacity: 0.5
  transition: all 200ms ease-in
  &.selected
    filter: grayscale(0%)
    opacity: 1
  &:hover
    filter: grayscale(0%)
    opacity: 1
    cursor: pointer
    border-color: green
