@import '_share_styles';

.display-style
  background-color: white
  border-radius: border-radius-lg
  border: border-size solid transparent
  list-style-type: none
  height: 90px
  width: 100%
  margin-bottom: 15px
  &.selected
    border-color: green
