border-radius-lg = 4px
lighten-color-value = 5
border-size = 2px

network-item-spacing = 4px
small-square = 30px

blue = #3264ca
white = #FFFFFF
light-blue-grey = #eceff5
green = #4bc52a
slate-grey = #616875
dark-blue = #1b1f28

facebook-blue = #3b5998
twitter-blue = #00acee
google-red = #dd4b39
linkedin-blue = #0e76a8
