border-radius-lg = 4px
lighten-color-value = 5
border-size = 1px

network-item-spacing = 4px
small-width = 810px
small-square = 34px
network-picker = 77px

blue = #3264ca
white = #FFFFFF
light-blue-grey = #eceff5
green = #4bc52a
slate-grey = #616875
dark-blue = #1b1f28
dark-grey = #333333

facebook-blue = #3b5998
twitter-blue = #00acee
google-red = #dd4b39
linkedin-blue = #0e76a8
