@import '_settings'
@import '_variables'
@import '_type'
@import '_states'
@import '_prettify_override'
@import '_footer'
@import '_networks'
@import '_select_networks'
@import '_style_select'
@import '_code_areas'

reset()
base()

html, body
  height:     100%
  min-width:  small-width

body
  margin: 0;
  background-color: #eceff5

.section
  float: left
  height: 100%
  padding-bottom: 100px

.half
  width: 50%;

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: none;
}

code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none;
}
ul
  margin: 0;
  padding: 0;
  li
    list-style-type: none
    display: inline-block;

.center
  margin: 10px auto 0 auto
  width: 370px

.step-section
  margin: 10px 0 30px 0
  &.last-bottom
    margin-bottom: 0

input, textarea
  color: slate-grey
  padding: 0 10px;
  font-size: 16px;
  border-radius: border-radius-lg
  border: border-size solid #a4a7b0
  outline: none
  font-size 14px
  width: 100%
  border-box: box-sizing
  &.over
    border-color: twitter-blue

input
  height: 46px

textarea
  font-size: 15px
  line-height: 20px
  padding: 10px 20px
  height: 100px

.helper-tag
  float: right;
  font-size: 12px
  background-color: darken(light-blue-grey, 10%)
  border-radius: 4px
  padding: 4px 8px

.twitter-warning
  margin-right: 5px
  background-color: twitter-blue
  color: white
  opacity: 0
  transition opacity 300ms ease-in
  img
    width: 24px
    height: auto
  &.max-hit
    opacity: 1
