@import '_settings'
@import '_variables'
@import '_type'
@import '_networks'

base()

body
  margin: 0;

.top-band
  top: 0
  position: absolute
  width: 100%
  margin: 0
  padding: 0

.stripe
  height: 5px
  display: block
  float: left
  width: 25%
  list-style-type: none

.center-generator
  margin: 80px auto 0 auto
  width: 400px

.step-section
  margin: 20px 0 60px 0
.network-select-list
  margin: 0
  padding: 0

.network-item
  display: inline-block
  list-style-type: none
  border-radius: border-radius-lg
  width: 90px
  height: 90px
  margin-right: 10px
