@import '_settings'
@import '_variables'

@import '_type'

normalize()
base()

.facebook
  background-color: facebook-blue

.twitter
  background-color: twitter-blue

.linkedin
  background-color: linkedin-blue

.googleplus
  background-color: google-red
  &:hover
    hover-lighten: 5%

.center-generator
  margin: 0 auto
  width: 400px

.network-select-list
  margin: 0
  padding: 0

.network-item
  display: inline-block
  list-style-type: none
  border-radius: border-radius-lg
  width: 90px
  height: 90px
  margin-right: 10px
