@import '../_variables'
@import '../_networks'

a.mt-share-inline-bar-sm
  display: inline-block
  width: 70px
  height: 30px
  border-radius: 0
  margin-right: 0
  text-align: center
  img
    width: small-square
    height: small-square
