@import '../_variables'
@import '../_networks'

a.mt-share-inline-circle-sm
  display: inline-block
  width: small-square
  height: small-square
  border-radius: 50%
  margin-right: network-item-spacing
  line-height: 57px
  text-align: center
  img
    width: small-square
    height: auto
    border: none
