@import '../_variables'
@import '../_networks'

a.mt-share-inline-bar-sm
  display: inline-block
  width: 70px
  height: 30px
  border-radius: 0
  margin-right: 0
  text-align: center
  position: relative
  transition: all 100ms ease-in
  transform: scale3d(1, 1, 1)

  &:hover
    z-index: 50
    transform: scale3d(1.075, 1.075, 1.075)

  img
    width: small-square
    height: auto
    border: none

