@import '../_variables'
@import '../_networks'

a.mt-share-inline-square-sm
  display: inline-block
  width: small-square + 6
  height: small-square + 6
  border-radius: 2px
  margin-right: network-item-spacing
  line-height: 57px
  text-align: center
  img
    width: small-square
    height: auto
    border: none
