@import '../_variables'
@import '../_networks'

a.mt-share-inline-square-sm
  display: inline-block
  width: small-square
  height: small-square
  border-radius: 2px
  margin-right: network-item-spacing
  img
    width: small-square
    height: auto
    border: none
